
body {
  background-color:#007ae5;
  color:#fffde5;
  font-family:'Slabo 27px',sans-serif;
  font-weight:normal;
  font-style:normal;
  width:100%;
  margin:0;
}

.header {
  padding-bottom:0px;
  padding-top: 30px;
  color:#ffffff;
  text-align: center;
  margin-bottom:0;
  width:100%;

}

.caption {
  padding:5px 5px 5px 15px;
  margin-top: 10px;
  text-align: left;
  color: #015baa;
  margin-left: 19%;
  margin-right: 19%;
  background-color: #ffffff;
  text-shadow:none;
  margin-bottom:9px;
  border-radius:10px;
  font-size:25px;
}


.wrapper {
  border-radius: 5px;
  margin:auto;
  background-color:#015baa;
  width:100% ;
  text-align: center;
  padding-bottom: 30px;
  /*padding-left: 30px;
  padding-right: 30px;*/
}



.wrapper2 {
  width:62%;
  margin: auto;
  display:table;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Slabo 27px',sans-serif;
}


.button {
    grid-area: button;
    font-size: 20px;
    font-family: 'Slabo 27px',sans-serif;
    /*display: table-cell; */
    padding: 0px;
    padding-left: 5%;
    margin: auto;
    /*float: right;*/
}

#group {
  display:table;
  font-family:'Slabo 27px';
}
.button #percent {
    font-size: 20px;
    border-right: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 0;
    padding: 3.5px;
    padding-left: 0;
    line-height: 1;
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
    vertical-align: middle;
    /* background-color: rgba(0, 0, 255, 0.2); */
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: #ffffff;
    display: inline;
    width: 22px;
    font-family: 'Slabo 27px';
    display: table-cell;
}

#increase {
  /*float: left;*/
  margin: auto;
  border:0;
  display:table-cell;
  font-size:16px;
  grid-area:inc;
  width:72%;
  margin:0;
  padding:0;
  display:table-cell;
  vertical-align: top;
  text-align: left;
  font-weight: bold;
  font-size: 17px;
}


#inflate_btn {
    font-size: 20px;
    border: 1px black solid;
    /*border-right: 0;*/
    background-color: rgba(255, 66, 66,.85);
    color: #fff;
    letter-spacing: 2px;
    border-radius: 5px;
    /*border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;*/
    display: table-cell;
    float: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-family: 'Oswald';
}

#inflation {
    /*margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;*/
    margin:0 !important;
    padding: 0px 0px 0px 4px !important;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    width: 34px;
    font-size: 20px;
    display: table-cell;
    border-radius: 5px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    color: #000000;
}



canvas {
  border:0px solid #d3d3d3;
  margin-top:-10px;
  z-index:-1;
}



header {
  font-family: 'Oswald', sans-serif;
  font-size:45px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-style:normal !important;
  margin:0 !important;
  padding:0 !important;
  margin-bottom:5px !important;
  width:100%;
}

.footer {
    font-size:12px;
    padding-top:0;

}
.content {
    grid-area: main;
    margin-bottom:-20px;
    margin-top:5px;

}
.sidebar {
    margin-left: 6%;
}

#footer {
  display:none;
  text-align:justify;
  color: #007ae5;
  background-color: #ffffff;
  margin-left:19%;
  margin-right:19%;
  text-shadow:none;
  padding-left:15px;
  border-radius:5px;
  font-size:20px !important;
}

#footer p {
  font-size: 20px;
  line-height: normal;
}


#footer span {
  font-size: 18px;
  padding:1px;
  background-color:#fff;
  color: #fc0202;
}

#footer strong {
  font-size: 18px;
  color: #fc0202;
  background-color:#fff;
  padding:1px;
}

p {
  padding:15px 20px;
  padding-left:5px;
  margin:0;
  margin-bottom:50px;
}
